<!-- 学生界面: 提交作业 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header">提交实验作业</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>实验名称</th>
                <th>选择日期</th>
                <th>提交</th>
                <th>预览</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>unsublimt-name1</td>
                <td>2016-05-08</td>
                <td class="col-xs-4">
                    <input type="file" id="inputfile">
                </td>
                <td>
                    <input type="button" class="btn btn-sm" value="预览" ng-click="viewPdfFile()">
                </td>
            </tr>
            <tr>
                <td>unsublimt-name2</td>
                <td>2016-03-08</td>
                <td class="col-xs-4">
                    <input type="file" id="inputfile">
                </td>
                <td>
                    <input type="button" class="btn btn-sm" value="预览">
                </td>
            </tr>
        </tbody>
        <!--         <tfoot>
            <tr>
                <td colspan="5">
                    <a class="a-default" href="#/post-work">
                        <button class="btn btn-primary">提交作业</button>
                    </a>
                </td>
            </tr>
        </tfoot> -->
    </table>
</div>
