<!-- 学生界面: 实验作业概览 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header">实验作业概览</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>实验名称</th>
                <th>指导老师</th>
                <th>选择日期</th>
                <th>已提交作业</th>
                <th>提交作业</th>
                <th>预览作业</th>
                <th>分数</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lab in labs">
                <td ng-bind="lab.labName"></td>
                <td ng-bind="lab.teacherName"></td>
                <td ng-bind="lab.choosedDate.substr(0, 10)"></td>
                <td ng-if="lab.isPost">是</td>
                <td ng-if="!lab.isPost">否</td>
                <td>
                    <button type="file" class="btn btn-sm" ng-class="{'btn-success': !lab.isMarked}" accept="application/pdf" ng-model="pdf" ngf-select="uploadFiles(pdf, $index)" ng-disabled="lab.isMarked">上传PDF</button>
                </td>
                <td>
                    <button class="btn btn-sm" ng-class="{'btn-success': lab.isPost}" ng-disabled="!lab.isPost" ng-click="previewPDF(lab.workUrl)">预览</button>
                </td>
                <td ng-bind="lab.score"></td>
            </tr>
        </tbody>
        <!--         <tfoot>
            <tr>
                <td colspan="5">
                    <a class="a-default" href="#/post-work">
                        <button class="btn btn-primary">提交作业</button>
                    </a>
                </td>
            </tr>
        </tfoot> -->
    </table>
</div>
