<!-- 学生界面: 实验作业概览 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header">实验作业概览
    <div class="col-sm-2 pull-right">
        <select class="form-control" required="required" ng-model="filCondition" ng-change="filterItem(filCondition)">
            <option value="">不过滤</option>
            <option value='1'>已提交</option>
            <option value='2'>未提交</option>
            <option value='3'>已打分</option>
            <option value='4'>未打分</option>
        </select>
    </div>
    </h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>实验名称</th>
                <th>指导老师</th>
                <th>选择日期</th>
                <th>作业提交日期</th>
                <!-- <th>已提交作业</th> -->
                <th>提交作业</th>
                <th>预览作业</th>
                <th>分数</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lab in labs | tableFilter:filCondition as result track by $index">
                <td ng-bind="lab.labName"></td>
                <td ng-bind="lab.teacherName"></td>
                <td ng-bind="lab.choosedDate.substr(0, 10)"></td>
                <td ng-bind="lab.postDate.substr(0, 10)"></td>
                <!--                 <td ng-if="lab.isPost">是</td>
                <td ng-if="!lab.isPost">否</td> -->
                <td>
                    <button type="file" class="btn btn-sm" ng-class="{'btn-success': !lab.isMarked}" accept="application/pdf" ng-model="pdf" ngf-select="uploadFiles(pdf, $index)" ng-disabled="lab.isMarked">上传PDF</button>
                </td>
                <td>
                    <!-- <button class="btn btn-sm" ng-class="{'btn-success': lab.isPost}" ng-disabled="!lab.isPost" ng-click="previewPDF(lab.workUrl)">预览</button> -->
                    <a href="{{lab.workUrl}}" class="btn btn-sm" ng-class="{'btn-success': lab.isPost}" ng-disabled="!lab.isPost">预览</a>
                </td>
                <td ng-bind="lab.score"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" ng-show="result.length"><em>实验数: {{result.length}}</em></td>
            </tr>
            <tr>
                <td colspan="7" ng-if="result.length === 0" class="text-center"><i class="fa fa-space-shuttle" aria-hidden="true"></i>&nbsp;<em>你还没有选择实验</em>&nbsp;<i class="fa fa-space-shuttle" aria-hidden="true"></i></td>
            </tr>
        </tfoot>
    </table>
</div>
