/* 教师 css */


/*修改密码 错误字体*/

.error-color {
    color: #a94442;
}

.input-size {
    width: 40px;
    padding-left: 10px;
}


/* 实验列表  */

.header-border {
    border-bottom: 1px solid #eee;
}

#alertContainer {
    position: absolute;
    top: 52px;
    right: 50px;
}

#detail-alert-container {
    position: absolute;
    top: 52px;
    right: 150px;
}

.main .li-inline li {
    display: inline-block;
}

#lab-list-table tr:first-child {
    width: 10px;
}

#lab-list-table tr:hover {
    background-color: #eee;
}

#lab-list-table tr td {
    /*border-top: 0 !important;*/
}

#lab-list-table tr td img {
    float: left;
    width: 150px;
    height: 90px;
    margin-right: 10px;
}


/*实验详情*/

/*
    displaying the editor in a sensible fashion:
*/

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;
}

.red {
    color: #FF6600;
}

.box {
    margin-top: -10px;
    overflow: auto;
    zoom: 1;
}

.clearfix {
    clear: both;
}

.padding-0 {
    padding-left: 0;
}

.form-margin-bottom {
    margin-bottom: 20px;
}

#delete-lab-modal .modal-backdrop,
#edit-lab-modal .modal-backdrop,
#create-lab-modal .modal-backdrop {
    z-index: 0;
}

.a-default {
    text-decoration: none !important;
    color: #333 !important;
}
