<form ng-submit="insert()">
    <div class="modal-header">
        <div class="col-md-10">
            <h4 class="modal-title"><span class="glyphicon glyphicon-picture"></span> Upload Image</h4>
        </div>
        <div class="col-md-2 right">
            <a class="close" href data-ng-click="$dismiss()"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>
    <div class="modal-body">
        <img ng-src="{{image}}" alt="预览上传图像">
    </div>
    <div class="modal-footer center clearfix">
        <button ng-click="$dismiss()" type="button" class="btn btn-default pull-left">Cancel</button>
        <button type="submit" ng-disabled="image == null || image == ''" class="btn btn-primary pull-right">Insert Image</button>
        <button type="button" ngf-select ngf-change="upload()" ng-model="file" ngf-accept="'image/*'" ngf-max-size="2MB" ngf-resize="{width: 210, height: 150 }" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-picture mR5"></span>Upload Image</button>
    </div>
</form>
