<!-- 教师界面: 实验详情 -->
<div id="detail-alert-container"></div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header"><span ng-bind="labName">实验详情</span>
    <ul class="pull-right li-inline">
        <li>
            <button class="btn btn-primary pull-right" ng-if="isEditable" ng-click="toggleEdit($event)">编辑</button>
        </li>
        <li>
            <button class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-post-work" ng-if="isEditable || !isEditable && hasRefed">布置实验</button>
        </li>
        <li>
            <!-- 引用该实验: 1. 不是该实验的创建者(LabRef表refName数组中新增一个对象) -->
            <button  class="btn btn-primary pull-right" data-toggle="modal" data-target='#refLabModal'   ng-if="!isEditable && !hasRefed"><i class="fa fa-compress"></i> 引用实验</button>
        </li>
        <li>
            <!-- 解除该实验引用: 1. 不是该实验的创建者 2. 没有学生选该实验 (LabRef表中refName数组中删除一个对象) -->
            <button  class="btn btn-danger pull-right" data-toggle="modal" data-target='#disRefLabModal' ng-if="!isEditable && hasRefed"><i class="fa fa-expand"></i> 解除引用</button>
        </li>
    </ul>
    </h2>
    <!-- 编辑内容区域 -->
    <div text-angular ng-show="isEditing" ng-model="htmlVariable"></div>
    <!-- 提示: 编辑区 预览区分界线 -->
    <div class="panel panel-default" ng-show="isEdit">
        <div class="panel-body divider text-center">
            预览编辑的内容
        </div>
    </div>
    <!-- 显示编辑完成的内容 -->
    <div ta-bind ng-model="htmlVariable"></div>
</div>
<!-- 模态框: 引用实验 -->
<div class="modal fade" id="refLabModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>你将要引用该实验(<b>注意:</b>)</p>
                <ol>
                    <li>不能修改或删除该实验</li>
                    <li>该实验可以被这个实验的创建者修改</li>
                    <li>引用成功后, 学生可以选择你的这个实验</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="refLab()">确认</button>
            </div>
        </div>
    </div>
</div>
<!-- 模态框: 删除引用 -->
<div class="modal fade" id="disRefLabModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>1. 如果已经有学生选择你的这个实验, 实验将无法删除</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" ng-click="disRefLab()">确认</button>
            </div>
        </div>
    </div>
</div>
<!-- 模态框: 布置实验 -->
<div class="modal fade" id="modal-post-work">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="description=undefined">&times;</button>
                <h4 class="modal-title">布置实验</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="description">班级:</label>
                        <button type="button" id="description" class="btn btn-default" ng-model="description" data-html="1" data-toggle="true" data-placeholder="请从列表中选择一个班级" bs-options="item for item in descriptions" bs-select>
                            Action <span class="caret"></span>
                        </button>
                    </div> 
                    <div class="form-group">
                        <label for="time">时间:</label>
                        <div class="input-group col-sm-3">
                            <input type="number" class="form-control" placeholder="1-365天" min="1" max="365" ng-model="deadline">
                            <span class="input-group-addon">天</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="description=undefined">取消</button>
                <button type="button" class="btn btn-primary" ng-disabled="!descriptions" ng-click="postWork(description, deadline)">确认</button>
            </div>
        </div>
    </div>
</div>
