<!-- 教师界面: 实验列表 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header">{{navName}}</h2>
    <ul class="pull-right li-inline">
        <li>
            <button class="btn btn-primary" data-toggle="modal" data-target='#create-lab-modal'><i class="fa fa-plus-square"></i> 添加实验</button>
        </li>
        <li>
            <button class="btn btn-default" data-toggle="modal" data-target='#edit-lab-modal' ng-disabled="!checkChoosed()" ng-click="getLabItem()"><i class="fa fa-pencil-square-o "></i> 编辑实验</button>
        </li>
        <li>
            <button class="btn btn-danger" data-toggle="modal" data-target='#delete-lab-modal' ng-disabled="!checkChoosed()" ng-click="getDeltedLabItem()"><i class="fa fa-times"></i> 删除实验</button>
        </li>
    </ul>
    <table class="table" id="lab-list-table">
        <tbody>
            <tr dir-paginate="item in labItems | itemsPerPage: itemPerPage" total-items="totalItems" current-page="currentPage">
                <td>
                    <input type="checkbox" id="check" ng-if="item.isEditable" ng-model="item.isChecked" ng-click="getCheckedIndex($index, item.isChecked)">
                </td>
                <td>
                    <a class="a-default" href="#/{{item.labCategory}}/{{item.expItemId}}">
                        <div class="media">
                            <img ng-src="{{item.thumbnail}}" alt="实验缩略图">
                            <div class="media-body">
                                <h4 class="media-heading">{{item.name}}<span class="pull-right small">发布者: {{item.createdByName}}</span></h4>
                                <span ng-bind="item.description"></span>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="partials/public/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>
<!-- 增加实验 --> 
<div class="modal fade" id="create-lab-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加实验</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="addForm" novalidate>
                    <div class="form-group" ng-class="{'has-error': addSubmited && addForm.labName.$invalid}">
                        <label for="lab-name">实验名称</label>
                        <input type="text" class="form-control" name="labName" ng-model="labItem.name" required>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addSubmited && addForm.labDesc.$invalid}">
                        <label for="lab-desc">实验描述</label>
                        <textarea class="form-control" name="labDesc" rows="3" ng-model="labItem.description" required></textarea>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addSubmited && addForm.labImage.$invalid}">
                        <label for="lab-image">缩略图</label>
                        <input type="file" name="labImage" ngf-select="" ng-model="labItem.image" ngf-accept="'image/*'" ngf-max-size="2MB" ngf-resize="{width: 210, height: 150 }" required>
                    </div>
                    <div class="form-group">
                        <label>是否允许其他老师引用该实验
                            <input type="checkbox" ng-model="labItem.isPublic">
                        </label>
                    </div>
                    <div class="form-group col-sm-4 padding-0" ng-class="{'has-error': addSubmited && addForm.labCategory.$invalid}">
                        <select name="labCategory" ng-if="myLab" class="form-control" ng-options="category.select as category.label for category in categories" ng-model="labItem.labCategory" required>
                            <option value="">请选择实验类别</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelCreateLabItem()">取消</button>
                <button type="button" class="btn btn-primary" ng-click="createLabItem(labItem, addForm.$invalid)">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- 编辑实验介绍 -->
<div class="modal fade" id="edit-lab-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">编辑实验</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="newForm">
                    <div class="form-group">
                        <label for="lab-name">实验名称</label>
                        <input type="text" class="form-control" id="lab-name" ng-model="update.name">
                    </div>
                    <div class="form-group">
                        <label for="lab-desc">实验描述</label>
                        <textarea class="form-control" id="lab-desc" rows="4" ng-model="update.description">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="lab-image">缩略图(<span class="small">不选,表示不更改图片</span>)</label>
                        <input type="file" id="lab-image" ngf-select="" ng-model="update.image" ngf-accept="'image/*'" ngf-max-size="2MB" ngf-resize="{width: 210, height: 150 }">
                    </div>
                    <div class="form-group">
                        <label>是否允许其他老师引用该实验
                            <input type="checkbox" ng-model="update.isPublic">
                        </label>
                    </div>
                    <div class="form-group col-sm-4 padding-0" ng-class="{'has-error': addSubmited && addForm.labCategory.$invalid}">
                        <select name="labCategory" class="form-control" ng-options="category.select as category.label for category in categories" ng-model="update.labCategory" required>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="updateLabItem(update)">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- 删除实验模态框 -->
<div class="modal fade" id="delete-lab-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">删除实验</h4>
            </div>
            <div class="modal-body">
                <ul ng-repeat="item in deleteLabs">
                    <li>{{item.name}}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" ng-click="delete()">确认删除</button>
            </div>
        </div>
    </div>
</div>
