<!-- 教师界面: 管理学生名单 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header">管理学生名单</h2>
    <form class="form-horizontal" role="form">
        <div class="form-group col-sm-3">
            <label for="">开课学期: </label>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="selected.year" data-html="1" data-placeholder="默认" data-toggle="true" bs-options="item for item in select.years" bs-select>
                    Action <span class="caret"></span>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label" for="">课程: </label>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="selected.course" data-html="1" data-placeholder="默认" data-toggle="true" bs-options="item for item in select.courses" bs-select>
                    Action <span class="caret"></span>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label" for="">班级: </label>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="selected.class" data-html="1" data-placeholder="默认" data-toggle="true" bs-options="item for item in select.classes" bs-select>
                    Action <span class="caret"></span>
            </div>
        </div>
        <div class="form-group pull-right">
            <button type="button" class="btn btn-success" ng-click="getSelectedList(selected)">查询学生信息</button>
            <button class="btn btn-danger" data-toggle="modal" data-target='#modal-delete-student-info'><i class="fa fa-times"></i> 删除</button>
        </div>
    </form>
    <!--         <ul class="pull-right li-inline">
                <li>
            <button type="button" class="btn btn-default"> 手动添加</button>
        </li>
        <li>
            <button class="btn btn-default" data-toggle="modal" data-target='#edit-lab-modal' ng-disabled="!checkChoosed()" ng-click="getLabItem()"><i class="fa fa-pencil-square-o "></i> 修改</button>
        </li>
        <li>
            <button class="btn btn-danger" data-toggle="modal" data-target='#modal-delete-student-info' ng-disabled="!infoLists.length" ng-click="getSelectedList()"><i class="fa fa-times"></i> 删除</button>
        </li>
    </ul> -->
    <!-- 显示学生信息 -->
    <table class="table table-bordered table-striped" ng-repeat="classOne in infoLists">
        <caption ng-bind="classOne.description"></caption>
        <thead>
            <tr>
                <th>序号</th>
                <th>学号</th>
                <th>姓名</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in classOne.info | orderBy: item.index as result track by $index">
                <td ng-bind="item.index"></td>
                <td ng-bind="item.number"></td>
                <td ng-bind="item.name"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" ng-show="result.length"><em><i class="fa fa-user" aria-hidden="true"></i> {{result.length}}人</em></td>
            </tr>
            <tr>
                <td colspan="4" ng-if="result.length == 0" class="text-center"><i class="fa fa-space-shuttle" aria-hidden="true"></i>&nbsp;<em>无学生信息</em>&nbsp;<i class="fa fa-space-shuttle" aria-hidden="true"></i></td>
            </tr>
        </tfoot>
    </table>
</div>
<!-- 模态提醒框 -->
<!-- 模态框: 删除班级信息 -->
<div class="modal fade" id="modal-delete-student-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="description=undefined">&times;</button>
                <h4 class="modal-title">删除学生信息</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="description">班级:</label>
                        <button type="button" id="description" class="btn btn-default" ng-model="description" data-html="1" data-toggle="true" data-placeholder="请从列表中选择一个班级" bs-options="item for item in descriptions" bs-select>
                            Action <span class="caret"></span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="deleteClass(description)">确认</button>
            </div>
        </div>
    </div>
</div>
