<!-- 教师界面: 学生成绩概览 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header">学生成绩
    <ul class="pull-right li-inline">
        <li>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-select" ng-click="getSelectCondition()">筛选</button>
        </li>
    </ul>    
    </h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>学生姓名</th>
                <th>学号</th>
                <th>实验名称</th>
                <th>是否提交</th>
                <th>提交日期</th>
                <th>预览</th>
                <th>分数</th>
                <th>提交</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lab in labs | tableFilter:selected as result track by $index">
                <td ng-bind="lab.studentName"></td>
                <td ng-bind="lab.studentNumber"></td>
                <td>
                    <a ng-href="#/category/{{lab.expItemId}}" ng-bind="lab.labName"></a>
                </td>
                <td ng-if="lab.isPost">是</td>
                <td ng-if="!lab.isPost">否</td>
                <td ng-bind="lab.postDate.substr(0, 10)"></td>
                <td>
                    <!-- <button class="btn btn-sm" ng-class="{'btn-success': lab.isPost}" ng-click="previewPDF(lab.workUrl)" ng-disabled="!lab.isPost">预览</button> -->
                    <a href="{{lab.workUrl}}" class="btn btn-sm" ng-class="{'btn-success': lab.isPost, 'btn-default': !lab.isPost}" ng-hide="!lab.isPost">预览</a>
                </td>
                <td>
                    <input type="text" class="form-control" style="width: 45px;" ng-value="lab.score" ng-model="score" ng-disabled="!lab.isPost">
                </td>
                <td>
                    <button class="btn btn-sm" ng-class="{'btn-primary': lab.isPost}" ng-click="markScore(lab.score, score, $index)" ng-disabled="!lab.isPost">提交</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8" ng-show="result.length"><em>人数: {{result.length}}</em></td>
            </tr>
            <tr>
                <td colspan="8" ng-if="result.length === 0" class="text-center"><i class="fa fa-space-shuttle" aria-hidden="true"></i>&nbsp;<em>还没有学生选择你的实验</em>&nbsp;<i class="fa fa-space-shuttle" aria-hidden="true"></i></td>
            </tr>
        </tfoot>
    </table>
</div>
<!-- 模态框: 筛选条件 -->
<div class="modal fade" id="modal-select">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">筛选</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="">开课学期: </label>
                            <br>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-model="selected.year" data-html="1" data-placeholder="默认" data-toggle="true" bs-options="item for item in select.years" bs-select>
                                    Action <span class="caret"></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label" for="">课程: </label>
                            <br>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-model="selected.course" data-html="1" data-placeholder="默认" data-toggle="true" bs-options="item for item in select.courses" bs-select>
                                    Action <span class="caret"></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label" for="">班级: </label>
                            <br>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-model="selected.className" data-html="1" data-placeholder="默认" data-toggle="true" bs-options="item for item in select.classes" bs-select>
                                    Action <span class="caret"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label class="control-label" for="">实验: </label>
                            <br>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-model="selected.labName" data-html="1" data-placeholder="默认" data-toggle="true" bs-options="item for item in select.labNames" bs-select>
                                    Action <span class="caret"></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label" for="">作业: </label>
                            <br>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-model="selected.isPost" data-html="1" data-placeholder="默认" data-toggle="true" bs-options="item.value as item.label for item in select.post" bs-select>
                                    Action <span class="caret"></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label" for="">打分: </label>
                            <br>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-model="selected.isMarked" data-html="1" data-placeholder="默认" data-toggle="true" bs-options="item.value as item.label for item in select.mark" bs-select>
                                    Action <span class="caret"></span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="selected={}">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="filterGrade(selected)">确认</button>
                </div>
            </div>
        </div>
    </div>
